$font-size: 1rem;
$font-color: red;

html {
  font-family: 'Golos Text', sans-serif; // шрифт по умолчанию по сайту
  font-size: $font-size;
  color: $font-color;
}

.logo1 {
  width: 10em;
}
.logo2 {
  width: 10em;
}